{% extends 'base.html.twig' %}

{% block title %}Brands{% endblock %}

{% block body %}
    <h1>Brands</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ brand.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ brand.name }}</td>
            </tr>
            <tr>
                <th>Website</th>
                <td>{{ brand.website }}</td>
            </tr>
            <tr>
                <th>Desription</th>
                <td>{{ brand.desription }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_brands_index') }}">back to list</a>

    <a href="{{ path('app_brands_edit', {'id': brand.id}) }}">edit</a>

    {{ include('brands/_delete_form.html.twig') }}
{% endblock %}
