{{ form_errors(form) }}
<div class="form-group">
<form name="cars" method="post" enctype="multipart/form-data">
    {{ form_row(form._token) }}
    <table>
        <tr>
            <td>Name: </td>
            <td> <input name="cars[name]" value="{{ car.name }}" required="required"> </td>
        </tr>
        <tr>
        <tr>
            <td>Adress: </td>
            <td> <input name="cars[address]" required="required" value="{{ car.address }}"></td>
        </tr>
        <tr>
            <td>Description: </td>
            <td> <textarea name="cars[description]" class="custom-textarea" value="{{ car.description }}" rows="10" required="required"> </textarea> </td>
        </tr>
        <tr>
            <td>Price: </td>
            <td> <input  type="number" name="cars[price]" pattern="[0-9]+" value="{{ car.price }}" title="please enter number only" required="required"> </td>
        </tr>\
        <tr>
            <td>Year production: </td>
            <td> <input  type="number" name="cars[year]" pattern="[0-9]+" min="1980" value="{{ car.year }}" title="please enter number only" placeholder="Year ex. 2008" required="required"> </td>
        </tr>
        <tr>
            <td>Car Type: </td>
            <td>
            <div>


                <select id="cars_type" name="cars[type]" class="custom-select" >
                    <option></option>
                    {% for type in types %}
                        <option value="{{ type.id }}">{{ type.name }}</option>
                    {% endfor %}
                </select>
            </div>
            </td>
        </tr>
        <tr>
            <td>Brand: </td>
            <td>
                <select name="cars[brand]"  class="custom-select form-control"  required>
                    <option></option>
                    {% for brand in brands %}

                        <option value="{{ brand.id }}" >{{ brand.name }}</option>

                    {% endfor %}
                </select>
            </td>
            <td>Fuel: </td>
            <td>
                <select name="cars[fuel]"  class="custom-select form-control"  required>
                    <option></option>
                        <option value="Essence">Essence</option>
                        <option value="Diesel">Diesel</option>
                        <option value="Gas">Gas</option>
                        <option value="Electro">Electro</option>

                </select>
            </td>
        </tr>
        <tr>
            <td>Options:</td>
            <td>
                {% for option in options %}
                    <label for="opt_{{ option.id }}">{{ option.name }}</label>
                    <input id="opt_{{ option.id }}" type="checkbox" name="cars[options][]" value="{{ option.id }}">
                <br/>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>Photo:</td>
            <td>
                {{ form_row(form.imageFile) }}
            </td>

        </tr>
    </table>

    <button class="btn btn-primary btn-lg">{{ button_label|default('Save') }}</button>

    </form>

</div>