{% extends 'base.html.twig' %}

{% block title %}Cars{% endblock %}

{% block body %}


    <div class="container my-4">
        <h1>Car Details</h1>
        <!-- Первый ряд -->
        <div class="row mb-3">
            <!-- Первая колонка -->
            <div class="col-md-6">
                <div class="p-3 border bg-light">
                    <h3> {{ car.name }} </h3>
                    <p>
                    <table>
                        <tbody>
                        <tr>
                            <th>Price:</th>
                            <td><h4 style="color:green">{{ car.price }} €</h4></td>
                        </tr>

                        <tr>
                            <th>Mark:</th>
                            <td>{{ car.brand.name }}</td>
                        </tr>
                        <tr>
                            <th>Type Car:</th>
                            <td>{{ car.type.name }}</td>
                        </tr>

                        <tr>
                            <th>Address:</th>
                            <td>{{ car.address }}</td>
                        </tr>
                        </tbody>
                    </table>
                    </p>
                </div>
            </div>

            <!-- Вторая колонка -->
            <div class="col-md-6">
                <div class="p-3 border bg-light">
                    <h3>Photos</h3>

                     <ul>
                        {% for item in car.photos %}
                            <li><img src="{{ asset('/uploads/images/' ~ item.name) }}" class="rounded float-start" alt="Product Image" width="190px"></li>
                        {% else %}
                            <li>Photos not found.</li>
                        {% endfor %}
                        </ul>

                </div>
            </div>
        </div>

        <!-- Второй ряд -->
        <div class="row">
            <!-- Первая колонка -->
            <div class="col-md-6">
                <div class="p-3 border bg-light">
                    <h3>Other Ads this Author</h3>
                    <p><a href="#">{{ car.user.name }}</a></p>
                    Email <p>{{ car.user.email }}</p>
                    Phone <p style="color:darkviolet"> {{ car.user.phone }}</p>

                </div>
            </div>

            <!-- Вторая колонка -->
            <div class="col-md-6">
                <div class="p-3 border bg-light">
                    <p>{{ car.description }}</p>
                    <h3>Car Options:</h3>
                    <ul>
                    {% for opt in options %}
                        <li>{{opt.name}}</li>
                    {% else %}
                        <li>Options not found.</li>
                    {% endfor %}
                </ul>

                </div>
            </div>
        </div>
    </div>




    <a href="{{ path('app_cars_index') }}">back to list</a>

    <a href="{{ path('app_cars_edit', {'id': car.id}) }}" class="button">edit</a>

    {{ include('cars/_delete_form.html.twig') }}
{% endblock %}
